@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-image: url("../images/background-js-vs-p-quiz.webp");
    background-repeat: no-repeat;
    
    /* background-size: cover; */
    /* background-size: cover; */
    background-position: center;
    object-fit: cover;
    font-family: "Open Sans", sans-serif;
    color: #2B2B2B;
}

/* --------- Heading */

.quiz-heading {
    
    text-align: center;
    /* top: 1rem; */
    margin-top: 3rem;
    font-family: "noto serif",sans-serif;
    color: #faf9f6;
    font-size: 2.5rem;
    text-shadow: 0 0 3px #FF9F00, 0 0 5px #FF9F00;
}
h2 {
    font-family: "noto serif",sans-serif;
}

/*.logo-image {
    
    width: 6rem;
    left: 0.125rem;
}*/
#home-question {
    font-size: 1rem;
}

#description {
    background-color: #faf9f6;
    color: #2B2B2B;
    text-shadow: 0 0 3px #FF9F00, 0 0 5px #FF9F00;
}

#logo-text {
    
    margin: 3.5rem;
    top: 5rem;
     text-align: center; 
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #2B2B2B;
    padding: 0.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
    background-color: rgba(255,159,0, 0.7);
    font-weight: bold;
}

#home-page, #game-page, #gameover-area {
    
    background-color: rgba(193,193,193, 0.9);
    margin: 3rem 2rem;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
}
.username-div {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
#username {
    width: 11rem;
    height:2rem;
}

.play {
    font-size: 1.5rem;
    color: #faf9f6;
    padding:0.5rem;
    background-color: #FF9F00;
    border-radius: 0.5rem;
    border: 0.125rem solid #faf9f6;
    border-style: 
}
.play:hover {
    background-color:  rgba(255,159,0, 0.7);
    cursor: pointer
}
.button {
    color:#faf9f6;
    padding:0.5rem;
}

#game-page, #gameover-area {
    display: none;
}

#gameover-area {
    text-align: center;
    font-size: 1.5rem;
    
    /* color: #faf9f6; */
    margin: 5rem 4rem;
    
}
/*#scores {
    color: #faf9f6;
    text-transform: uppercase;
    font-size: 1.25rem;
}
#scores:hover {
    text-shadow: 0 0 3px #FF9F00, 0 0 5px #FF9F00;   
}*/
.score-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.score-container p {
    font-weight: bold;
}

#questions {
    font-family: "noto serif",sans-serif;
    color: #FF9F00;
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
}
.answer-btn {
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}
.answer-btn button {
    margin:0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.answer-btn button:hover {
    border: 0.25rem solid #2B2B2B;
    background-color: rgba(250,249, 246, 0.8);
    color:rgba(43, 43, 43, 0.7)
}
#how-to-play {
    display:none
}

#home-page a:hover {
    color:#FF9F00;

}