@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-image: url("../images/background-js-vs-p-quiz.webp") ;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    color: #2B2B2B;
    
}

/* --------- Heading */

.quiz-heading {
    
    text-align: center;
    /* top: 1rem; */
    margin-top: 3rem;
    font-family: "noto serif",sans-serif;
    color: #faf9f6;
    font-size: 2.5rem;
    text-shadow: 0 0 3px #FF9F00, 0 0 5px #FF9F00;
}

/*.logo-image {
    
    width: 6rem;
    left: 0.125rem;
}*/

#logo-text {
    
    margin: 3.5rem;
    top: 5rem;
    /* text-align: center; */
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #2B2B2B;
    padding: 0.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
    background-color: rgba(255,159,0, 0.7);
    font-weight: bold;
}